.appointment-booking {
  display: flex;
  min-height: 94vh;
}

.left-side,
.right-side {
  flex: 1;
  display: flex;
  flex-direction: column;
  background-color: var(--nhs-white);
  padding: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  overflow-y: auto;
}

.left-side {
  padding: 100px !important;
  max-width: 35%;
}

.left-side > div,
.right-side > div {
  margin-bottom: 40px;
}

.button-container {
  display: flex;
  justify-content: flex-end;
  gap: 15px;
  margin-top: 25px;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal-content {
  background-color: var(--nhs-white);
  padding: 25px;
  border-radius: 10px;
  width: 80%;
  max-width: 500px;
  max-height: 80vh;
  overflow-y: auto;
  z-index: 1001;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  position: relative;
}

.modal-content::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--nhs-white);
  z-index: -1;
}

.modal-buttons {
  display: flex;
  justify-content: flex-end;
  gap: 15px;
  margin-top: 25px;
}